<div class="page-header">
  <h3>Allergen #<%= @allergen.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @allergen.name %></dd>

      <dt>Reaction</dt>
      <dd><%= @allergen.reaction %></dd>

      <dt>Restaurants</dt>
      <dd><%= @allergen.restaurants_id %></dd>

      <dt>User</dt>
      <dd>
        <% if @allergen.user.present? %>
          <a href="/users/<%= @allergen.user_id %>">
            <%= @allergen.user.email %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/allergens" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @allergen.user %>
        <a href="/allergens/<%= @allergen.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_allergen/<%= @allergen.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Allergen has many cuisines -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cuisines
      </li>

      <% @allergen.cuisines.each do |entree| %>
        <li class="list-group-item">
          <a href="/entrees/<%= entree.id %>">
            <%= entree.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/entrees/<%= entree.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/entrees/<%= entree.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_entree/<%= entree.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_entree" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for allergens_id -->
      <div class="form-group">
        <label for="allergens_id" class="control-label">
          Allergens
        </label>

        <%= select_tag(:allergens_id, options_from_collection_for_select(Allergen.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for restaurants_id -->
      <div class="form-group">
        <label for="restaurants_id" class="control-label">
          Restaurants
        </label>

        <%= select_tag(:restaurants_id, options_from_collection_for_select(Restaurant.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Entree
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Allergen has many restaurants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurants
      </li>

      <% @allergen.restaurants.each do |restaurant| %>
        <li class="list-group-item">
          <a href="/restaurants/<%= restaurant.id %>">
            <%= restaurant.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/restaurants/<%= restaurant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_restaurant/<%= restaurant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
