<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Entrees</dt>
      <dd><%= @restaurant.entrees_id %></dd>

      <dt>Allergens</dt>
      <dd><%= @restaurant.allergens_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurant has many cuisines -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Cuisines
      </li>

      <% @restaurant.cuisines.each do |entree| %>
        <li class="list-group-item">
          <a href="/entrees/<%= entree.id %>">
            <%= entree.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/entrees/<%= entree.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/entrees/<%= entree.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_entree/<%= entree.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_entree" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for allergens_id -->
      <div class="form-group">
        <label for="allergens_id" class="control-label">
          Allergens
        </label>

        <%= select_tag(:allergens_id, options_from_collection_for_select(Allergen.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for restaurants_id -->
      <div class="form-group">
        <label for="restaurants_id" class="control-label">
          Restaurants
        </label>

        <%= select_tag(:restaurants_id, options_from_collection_for_select(Restaurant.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Entree
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Restaurant has many allergens -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Allergens
      </li>

      <% @restaurant.allergens.each do |allergen| %>
        <li class="list-group-item">
          <a href="/allergens/<%= allergen.id %>">
            <%= allergen.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/allergens/<%= allergen.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/allergens/<%= allergen.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_allergen/<%= allergen.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many dishes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dishes
      </li>

      <% @restaurant.dishes.each do |entree| %>
        <li class="list-group-item">
          <a href="/entrees/<%= entree.id %>">
            <%= entree.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/entrees/<%= entree.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/entrees/<%= entree.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_entree/<%= entree.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
